
*{
    margin: 0;
    padding: 0;
    background: rgb(41, 36, 32);
}

.nev{
    text-align: center;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    font-weight:300 ;
    color: aliceblue;
    padding-top: 80px;
}
.search-box{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 30px;
    /* transform: translate(-50%,-50%); */
    /* background-color: darkgray; */
    /* border-radius: 40px; */
    padding: 6px;
}
.search-text{
    height: 25px;
    background: rgb(255, 251, 251);
    transform: translate(-50%,-50%);
    border-radius: 30px;
    padding: 5px;
    padding-left: 30px;
    width: 500px;
    color: rgb(16, 11, 11);
}
.item{
    text-align: end;
    font-family: sans-serif;
    font-weight: 400;
    padding-top: 15px;
    padding-right: 30px;
}
ul, li {
 
 list-style: none;
 display: inline-block;
}
a{
    
    text-decoration: none;
    color: aliceblue;
    text-align: end;
     text-align: center;
     margin-left: px;
     margin-right: 20px;

    
}
a:hover{
    /* color: rgb(12, 8, 8); */
    border-bottom: 1px solid rgb(250, 249, 249);
    /* background: #fff; */
}
.fa-light{
    position: absolute;
    left: -45%;
    top: -2%;
    /* padding-left: 10px; */
    /* background-color: #fff; */
    
}
img{
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    left: 96%;
    top: 2%;
}







